<div class="skinny_wrapper wrapper_padding">
	<h1>Bot</h1>
	<p id="newton-response"></p>
	<input type="text" id="query" placeholder="Ask me anything">
	<!-- <button id="ask_newton_now">Enter</button> -->
</div>
